[tool.poetry]
name = "dasy"
version = "0.1.23"
description = ""
authors = ["z80 <z80@ophy.xyz>"]

[tool.poetry.dependencies]
python = ">=3.10, <3.11"
argparse = "^1.4.0"
dasy-hy = "0.24.1"
titanoboa = "^0.1.5"
hyrule = "^0.2"
pytest = "^7.1.3"
vyper = "^0.3.6"

[tool.poetry.dev-dependencies]
pytest = ">=7.1"
black = {version = "^22.8.0", allow-prereleases = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
"dasy" = "dasy:main"

[tool.pytest.ini_options]
filterwarnings = [
    "error",
    "ignore::UserWarning",
    # note the use of single quote below to denote "raw" strings in TOML
    'ignore::DeprecationWarning',
]
