[tool.poetry]
name = "dasy"
version = "0.1.3"
description = ""
authors = ["z80 <z80@ophy.xyz>"]

[tool.poetry.dependencies]
python = ">=3.10, <3.11"
vyper = "^0.3.6"
hy = "^0.24.0"
argparse = "^1.4.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
"dasy" = "dasy:main"
